# .NET
**/bin/
**/obj/
**/publish/
**/appsettings.Development.json
**/.vs/

# Node
**/node_modules/
**/dist/
**/dist-ssr/
*.local
.env.local
.env.*.local

# 系统
.DS_Store
Thumbs.db

# IDE
.idea/
.vscode/*
!.vscode/extensions.json

# 生成器输出（如果测试用的临时文件）
*.zip